parameters:
    level: 5
    paths:
        - app
        - config
        - routes
    excludePaths:
        analyseAndScan:
            - vendor (?)
            - storage (?)
            - bootstrap/cache (?)
            - node_modules (?)
            - bootstrap (?)
            - database (?)
            - public (?)
            - resources (?)
            - tests (?)
        analyse:
            - vendor (?)
            - storage (?)
            - bootstrap/cache (?)
            - node_modules (?)
            - bootstrap (?)
            - database (?)
            - public (?)
            - resources (?)
            - tests (?)
